footer {
    background-color: #9AB21C;
    min-height: 50px;
    padding: 10px;
}

main {
    background-color: blanchedalmond;
}

header {
    background-color: blanchedalmond;
    min-height: 170px;
}

.nav-bg-site {
    border-radius: 10px; 
    background-color: #9AB21C; 
    padding: 5px;
}

.form-control[type=text], .form-control[type=email], .form-control, .form-control:hover, .form-control:focus{
    background-color: rgb(247, 223, 190);
    border: 0;
    box-shadow: none;
}


.btn-primary{
    border-color: #E6294F !important;
    background-color: #E6294F !important;
    color: blanchedalmond !important;
}

.btn-primary:hover{
    border-color: #E6294F !important;
    background-color: blanchedalmond !important;
    color: #E6294F !important;
}




.page-wrapper {
    background-color: blanchedalmond;
    margin: 0 auto;
    max-width: 55%;
    overflow: hidden;
    border-left: 1px solid blanchedalmond;
    border-right: 1px solid blanchedalmond;
    padding: 0; 
}      




@font-face {
    font-family: "HeyComic";
    src: url("/hey_comic/Hey Comic.ttf") format("truetype"),
         url("/hey_comic/Hey Comic.woff") format("woff"),
         url("/hey_comic/Hey Comic.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}