.table-striped>tbody>tr:nth-child(even)>td, .table-striped>tbody>tr:nth-child(even)>th {
    background-color: #7B8E16;
    border-style: none;
}

.table-striped>tbody>tr:nth-child(odd)>td, .table-striped>tbody>tr:nth-child(odd)>th {
    background-color: #96ab1a;
    border-style: none;
}

.table-striped>thead>tr:nth-child(even)>th, .table-striped>thead>tr:nth-child(even)>th {
    background-color: #7B8E16;
    border-style: none;
}

.table-striped>thead>tr:nth-child(odd)>th, .table-striped>thead>tr:nth-child(odd)>th {
    background-color: #96ab1a;
    border-style: none;
}

.table-striped>thead>tr:nth-child(odd)>th>a {
    color:black;
    text-decoration: none;
}

.table-striped>thead>tr:nth-child(odd)>th>a:hover {
    color:white;
    text-decoration: none;
}

.table-striped > thead {
    background-color: #7B8E16;
}

.table-striped>thead>tr>td {
    background-color: #96ab1a;
}

@font-face {
    font-family: "HeyComic";
    src: url("../font/HeyComic.ttf") format("truetype"),
         url("../font/HeyComic.woff") format("woff"),
         url("../font/HeyComic.woff2") format("woff2"),
         url("../font/HeyComic.svg") format("svg"),
         url("../font/HeyComic.otf") format("otf"),
         url("../font/HeyComic.eot") format("eot");

    font-weight: 400;
    font-style: normal;
}

.btn-primary{
    border-color: #E6294F !important;
    background-color: #E6294F !important;
    color: blanchedalmond !important;
}

.btn-primary:hover{
    border-color: #E6294F !important;
    background-color: blanchedalmond !important;
    color: #E6294F !important;
}
